<div class="modal fade" id="editCard" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-file-text-o"></i> Edit card</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <strong>Deck: </strong><span class="deckName"></span>
                </div>
                <hr class="divider" />
                <div class="form-group">
                    <label class="control-label">Front</label>
                    <textarea class="form-control" id="front" tabindex="1"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Back</label>
                    <textarea class="form-control" id="back" tabindex="2"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <input type="text" class="form-control" id="tag" tabindex="3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default fa fa-exchange btn-exchange pull-left" title="Switch card sides" id="switch"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="edit-card" tabindex="4">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>