<div class="modal fade" id="editCard" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-file-text-o"></i> Edit card</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <strong>Deck: </strong><span class="deckName"></span>
                </div>
                <hr class="divider"></hr>
                <div class="form-group">
                    <label for="front" class="control-label">Front</label>
                    <textarea class="form-control" id="front"></textarea>
                </div>
                <div class="form-group">
                    <label for="back" class="control-label">Back</label>
                    <textarea class="form-control back" id="back"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag" class="control-label">Tags</label>
                    <input type="text" class="form-control tag" id="tag">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default fa fa-exchange btn-exchange pull-left" data-toggle="tooltip" data-placement="right" title="Switch card sides" id="switch"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="edit-card">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>