<div class="row header bg-info">
    <div class="padding-bottom padding-top logo col-sm-3 col-xs-4 text-uppercase"><strong>Sanaa</strong></div>
    <a class="padding-bottom padding-top col-sm-2 col-xs-3 {{#if isDecks}}active{{/if}}" href="./index.html">Decks</a>
    <a class="padding-bottom padding-top col-sm-2 col-xs-3 {{#if isBrowse}}active{{/if}}" href="./browser.html">Browse</a>
    <a href="#" class="logout pull-right margin margin-right"><i class="fa fa-sign-out"></i></a>
</div>