{{#each this}}
<tr>
  <td>
  	<a class="pointer" data-toggle="modal" data-target="#editCard" data-id="{{_id}}">{{front}}</a>
  	<br>
  	<small>{{back}}</small>
  </td>
  <td class="text-right">
  	<input type="checkbox" class="pointer" data-id="{{_id}}">
  </td>
</tr>
{{/each}}